## Задание 1

Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [3]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

In [4]:
boys_1 = sorted(boys)

In [5]:
girls_1 = sorted(girls)

In [6]:
boys_by_girls = zip(boys_1, girls_1)
print(list(boys_by_girls))

[('Alex', 'Emma'), ('Arthur', 'Kate'), ('John', 'Kira'), ('Peter', 'Liza'), ('Richard', 'Trisha')]

In [7]:
boys_by_girls = [('Alex', 'Emma'), ('Arthur', 'Kate'), ('John', 'Kira'), ('Peter', 'Liza'), ('Richard', 'Trisha')]
print('Идеальные пары:')
for couple in boys_by_girls:  
    print(couple[0], 'и',couple[1])

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

## Задание 2

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [4]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [5]:
for country in countries_temperature:
    average_temp = 0
    print(country)
    for temperature in country[1]:
        print(temperature)     
        average_temp += (temperature - 32) * 5 / 9
    print(average_temp)
    print('Результат: средняя температура в', country[0], 'равна', round(average_temp/len(country[1]), 2))

['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]]
75.2
77
78.8
73.4
68
75.2
77
167.0
Результат: средняя температура в Thailand равна 23.86
['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]]
57.2
55.4
59
59
53.6
55.4
57.2
96.0
Результат: средняя температура в Germany равна 13.71
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]]
35.6
37.4
39.2
41
42.8
39.2
35.6
26.0
Результат: средняя температура в Russia равна 3.71
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]]
50
50
53.6
57.2
55.4
55.4
51.8
83.0
Результат: средняя температура в Poland равна 11.86

## Задание 3

Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [65]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [127]:
stream_1 = []
for line in stream:
    stream_1.append(line.split(','))
    stream_1[-1][2] = int(stream_1[-1][2])
print(stream_1)

[['2018-01-01', 'user1', 3], ['2018-01-07', 'user1', 4], ['2018-03-29', 'user1', 1], ['2018-04-04', 'user1', 13], ['2018-01-05', 'user2', 7], ['2018-06-14', 'user3', 4], ['2018-07-02', 'user3', 10], ['2018-03-21', 'user4', 19], ['2018-03-22', 'user4', 4], ['2018-04-22', 'user4', 8], ['2018-05-03', 'user4', 9], ['2018-05-11', 'user4', 11]]

In [129]:
stream_2 = {}
for line in stream_1:
    stream_2.setdefault(line[1], 0)
    stream_2[line[1]] += line[2]
    print(stream_2)

{'user1': 3}
{'user1': 7}
{'user1': 8}
{'user1': 21}
{'user1': 21, 'user2': 7}
{'user1': 21, 'user2': 7, 'user3': 4}
{'user1': 21, 'user2': 7, 'user3': 14}
{'user1': 21, 'user2': 7, 'user3': 14, 'user4': 19}
{'user1': 21, 'user2': 7, 'user3': 14, 'user4': 23}
{'user1': 21, 'user2': 7, 'user3': 14, 'user4': 31}
{'user1': 21, 'user2': 7, 'user3': 14, 'user4': 40}
{'user1': 21, 'user2': 7, 'user3': 14, 'user4': 51}

In [130]:
# посчитаем общее количество просмотров
views_sum = sum(stream_2.values())
print(views_sum)

93

In [131]:
print('Среднее значение просмотров на пользователя - {:.0f}'.format((views_sum/len(stream_2))))

Среднее значение просмотров на пользователя - 23

## Задание 4

Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [3]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

In [4]:
data = input('Введите дату ')
company = input('Введите компанию ')
for element in stats:
    if data == element [0] and company == element [1]:
        print(element [2])

Введите дату 2018-01-02
Введите компанию google
574